*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font: Tahoma;
}

section{
	height: 100vh;
	background: #5BC2E7;
}

.score{
	height: 20vh;
	display: flex;
	align-items: center;
	justify-content: space-around; 
}

h2{
	font-size: 35px;
}

h1{
	font-size: 50px;
}

.score{
	opacity: 0;
	transition: opacity 0.5s ease 0.3s;
}

.score p{
	text-align: center;
	padding: 10px;
	font-size: 25px;
}

.intro{
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	transition: opacity 0.5s ease 0.3s;
}

.game button{
	width: 150px;
	height: 50px;
	background: white;
	border-radius: 5px;
	border: none;
	font-size: 20px;
	cursor: pointer;
}

.match{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: opacity 0.5s ease 0.3s;
}

.winner{
	text-align: center;
	font-size: 30px;
}

.hands , .options{
	display: flex;
	justify-content: space-around;
}

.playerHand{
	transform: rotateY(180deg);
}

div.fadeOut{
	opacity: 0;
	pointer-events: none;
}

div.fadeIn{
	opacity: 1;
	pointer-events: all;
}
